:root {
  --primary-color: #3b82f6;
}
body {
  font-family: 'Roboto', sans-serif;
}

/* Header.tsx */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  margin-left: 4px;
  margin-bottom: 20px;
  height: 48px;
  border-bottom: 2px solid rgb(239, 236, 236);
}

.header-text {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}

/* grid Home.tsx */

.grid-container {
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.5rem;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* Podcast Card Home.tsx */
.podcast-card {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;

  padding-top: 1rem;
  margin-top: 4rem;
}

.podcast-container {
  flex-direction: column;
  display: flex;
  justify-content: start;
  align-items: center;
}
.podcast-image-box {
  border-radius: 0.375rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.podcast-image {
  height: 5rem;
  width: 5rem;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  z-index: 10;
}

.podcast-details {
  padding-top: 2rem;
}

.podcast-title {
  color: black;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0 1rem;
}

.podcast-author {
  color: gray;
  font-size: 0.875rem;
  text-align: center;
}

/* Filter.tsx */

.filter-container {
  width: 100%;
  padding-bottom: 12px;
  padding-right: 4px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.badge {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  color: #fff;
  font-size: 0.875rem;
  padding-block: 0.1rem;
  padding-inline: 0.45rem;
  text-align: center;
}

.search-input {
  width: 18rem;
  padding: 0.75rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.25rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  outline: none;
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  font-size: 0.875rem;
}
.search-input::placeholder {
  color: #9ca3af;
}

/* Podcast.tsx */

.podView-container {
  display: flex;

  justify-content: center;
  align-items: stretch;
  height: 100vh;
}

.podView-logo-container {
  width: 100vw;
  padding: 2rem;
}
@media (min-width: 768px) {
  .podView-logo-container {
    width: 33.333333%;
  }
}

.podView-details-container {
  background-color: #fff;
  padding: 2rem;
  overflow-y: scroll;
  width: 100%;
}

@media (min-width: 768px) {
  .podiView-details-container {
    width: 66.666667%;
  }
}

/* PodcastLogo.tsx */

.podcast-logo {
  width: 100%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  display: flex;
}

.podcast-logo-img {
  width: 10rem; /* w-40 */
  padding: 1rem; /* p-4 */
  margin: 0 auto; /* mx-auto */
  border-bottom-width: 2px; /* border-b-2 */
}

.podcast-info {
  padding: 1rem;
  border-top: 1px solid #9ca3af;
  margin-left: 1rem;
  margin-right: 1rem;
}

h2 {
  font-size: 0.875rem;
  font-weight: bold;
  color: black;
}

.podcast-info p {
  font-size: 0.75rem;
  font-style: italic;
  border-bottom-width: 2px;
  color: black;
}

.description-heading {
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  margin-top: 2rem;
}

.description-text {
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

/* podcastList.tsx */
.podcastList-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.podcastList-header {
  font-weight: bold;
  font-size: 1.125rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  padding-inline: 0.75rem;
}

.table-container {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  padding: 0.75rem;
}

.table {
  width: 100%;
}

.table thead {
  border-bottom: 2px solid #e5e7eb;
  font-size: 0.875rem;
}

.table th {
  text-align: left;
  padding-bottom: 1rem;
}

.table tbody tr {
  border-bottom: 2px solid #e5e7eb;
  cursor: pointer;
}

.table tbody tr:nth-child(even) {
  background-color: #f9fafb;
}

.table td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

.table td a {
  color: #3b82f6;
}

.table td a:hover {
  text-decoration: underline;
}

.table td:nth-child(2),
.table td:nth-child(3) {
  text-align: left;
}

/* podcastDetails*/
.podcast-detail {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 100%;
}

.podcast-detail h1 {
  font-size: 1rem;
  font-weight: bold;
}

.podcast-detail p {
  font-size: 0.75rem;
  font-style: italic;
  padding-top: 0.5rem;
  padding-bottom: 2rem;
}

.podcast-detail audio {
  width: 100%;
  height: 1.75rem;
}
.podcast-detail audio::-webkit-media-controls-panel {
  background-color: #454646;

  justify-content: space-between;
  align-items: center;
}

.podcast-detail audio::-webkit-media-controls-play-button {
  color: white;
  order: 0;
}

.podcast-detail audio::-webkit-media-controls-time-remaining-display {
  display: none;
}
.podcast-detail audio::-webkit-media-controls-current-time-display {
  order: 1;
  color: white;
}

.podcast-detail audio::-webkit-media-controls-volume-slider {
  order: 1;
  color: white;
}
